{% extends "index.html" %}
{% load static %}

{% block contenioQueCambia %}
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>1..2..3.. MUESTRAAA!!!</h1>
                    <h2 class="subheading">Los frutos del año se reflejan en un maravilloso espectaculo</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">Alas eventos</a>
                        1 Junio, 2022
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2 class="section-heading">Por fin tenemos fecha para nuestra muestra</h2>
                <p>Como todo nos estaban preguntando sobre nuestra muestra de fin de año, tenemos el hermoso placer de informarle que <strong>TENEMOS FECHA❣❣</strong></p>
                <p>Alas presentará todas sus modalidales los dias Sabado 17 y Domingo 18 de Diciembre</p>
                <blockquote class="blockquote">Nos presentaremos en el teatro: "Centro Cultural Valentín Barros //Av. Arturo Illia 2340 - San Justo"</blockquote>
                <p>Tendremos ensayos generales en el estudio y en el teatro, que lo iremos comunicando en las clases</p>
                <p><strong>CADA COREOGRAFIA TENDRÁ SU RESPECTIVO VESTUARIO</strong></p>
                <h2 class="section-heading">Valor de la entrada: $1000</h2>
                <p>Recuerden que cada entrada tendrá la fecha de <strong>SOLO UNA </strong> de nuestra funciones</p>
                <a href="#!"><img class="img-fluid" src={% static 'blogdanzaalas/assets/img/post2-bg.JPG'%} alt="alassalondebaile" /></a>
                <span class="caption text-muted">Queremos dejar una huella en cada una de las personas que vayan a ver nuestro <strong>ARTE</strong> </span>
                <p>❣❣Gracias por ser parte de esta loca y hermosa familia❣❣ Vamos a hacer <strong>ARTE</strong> con todo el corazon 💖.</p>
                
                <p>
                    Placeholder text by
                    <a href="http://www.ccvb.org.ar/">Centro Cultural Valentín Barros</a>
                    &middot; Images by
                    <a href="https://www.google.com/maps/uv?pb=!1s0x95bcc738d2e2e749%3A0x3c4f008d25c195ad!3m1!7e115!4shttps%3A%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipOD_MpiQSVP920-q-inrorgRO7Y_7eLXtHvSqH4%3Dw130-h87-n-k-no!5salas%20danza%20-%20Buscar%20con%20Google!15sCgIgAQ&imagekey=!1e10!2sAF1QipOD_MpiQSVP920-q-inrorgRO7Y_7eLXtHvSqH4&hl=es-419">Alas</a>
                </p>
            </div>
        </div>
    </div>
</article>
{% endblock %}