{% extends "index.html" %}

{% block contenioQueCambia %}
{% load static %}
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Alas se llenó de color</h1>
                    <h2 class="subheading">Cuadros, banderas y colores</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">Alas eventos</a>
                        15 Mayo, 2022
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2 class="section-heading">Alas llena el alma de las personas</h2>
                <p>Desde que arrancamos con el proyecto, <strong>NUESTRO PROYECTO</strong>, decidimos que Alas sería no solo un lugar donde la gente pueda bailar y aprender</p>
                <p>Sino que también haría sentirlos como en familia, olvidar todo aquello que nos molesta en el exterior y nos llene un poquito mas el alma.</p>
                <blockquote class="blockquote">Es un sueño hecho realidad</blockquote>
                <p>Ahora gracias a la ayuda y atencion de "El Mueble" nuestras pistas de bailes se convirtieron en lugar mas colorido y confortable.</p>
                <h2 class="section-heading">En busca de la grandeza</h2>
                <p>En cada espacio de nuestro local encontraras frases de fuerza, iseños e muebles super modernos y delicados con el fin de sentirse agusto</p>
                <a href="#!"><img class="img-fluid" src={% static 'blogdanzaalas/assets/img/post-sample-imagen.jpg'%} alt="alassalondebaile" /></a>
                <span class="caption text-muted">Planeamos que esto siga creciendo, con más luces, más color y sobre todo <strong>MAS AMOR</strong></span>
                <p>❣❣Les Agradecemos fervorozamente el amor que nos ofrecen y la elección de día a día❣❣.</p>
                
                <p>
                    Placeholder text by
                    <a href="https://www.elmueble.com/detalles/cuadros">El Mueble</a>
                    &middot; Images by
                    <a href="https://www.google.com/maps/uv?pb=!1s0x95bcc738d2e2e749%3A0x3c4f008d25c195ad!3m1!7e115!4shttps%3A%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipOD_MpiQSVP920-q-inrorgRO7Y_7eLXtHvSqH4%3Dw130-h87-n-k-no!5salas%20danza%20-%20Buscar%20con%20Google!15sCgIgAQ&imagekey=!1e10!2sAF1QipOD_MpiQSVP920-q-inrorgRO7Y_7eLXtHvSqH4&hl=es-419">Alas</a>
                </p>
            </div>
        </div>    
    </div>
</article>

{% endblock %}