{% extends "index.html" %}
{% load static %}

{% block contenioQueCambia %}
<header class="masthead" style="background-image:url('/static/blogdanzaalas/assets/img/about-bg.JPG')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Nuevos Profesores</h1>
                </div>
            </div>
        </div>
    </div>
</header>
    <div class="col container" style="background-color:lightyellow;width: 50%;margin: auto;">
        <a href="#!"><img class="img-fluid" src={% static 'blogdanzaalas/assets/img/profes.jpg'%} alt="alassalondebaile" /></a>
            <form Class="row" action="ingresoprofesores" method="POST">
                {% csrf_token %}
                <h2>Ingresar Profesor:</h2>
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre">
                <label for="apellido">Apellido:</label>
                <input type="text" name="apellido">
                <label for="email">Email:</label>
                <input type="email" name="email">
                <label for="estilo">Clase:</label>
                <input type="text" name="estilo">
                <hr>
                
                <input class=" btn-primary" type="submit" value="Enviar" style="margin: auto;width: 30%;border-radius: 50rem;padding:5px">
            </form>
        <hr><br>
    </div>
{% endblock %}
