<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aún no disponible</title>
</head>
<header>
    <a class="btn btn-info" :hover href="{% url 'inicio' %}" style="color: white;size: 30px; margin-bottom: 100px;"><strong>◀ volver</strong></a>
</header>
<body style="background-image: url('/static/blogdanzaalas/assets/img/Nocreado.JPG');">
    <p style="color:white; size: 40px;">Pagina no creada aún</p>
</body>
</html>