{% extends "index.html" %}

{% block contenioQueCambia %}
{% load static %}
<header class="masthead" style="background-image:url('/static/blogdanzaalas/assets/img/bailarina.JPG')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Apredé sobre este BAILARIN 😍🥰</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2 class="section-heading">Un mundo en un bailarin</h2>
                <p>Se une a nosotros un profesional que nos llena de color con su <strong>ARTE</strong></p>
                <p>Un/a profesor/a de danza se dedica a formar y entrenar a sus alumnos/as en todos los tipos de danza. Puede trabajar individualmente o con grupos de todas las edades. Los/las profesores/as pueden trabajar en escuelas de danza privadas, en universidades o centros de educación para adultos, en centros de ocio, etc.

                    Estos/as profesionales pueden formar futuros/as artistas en este ámbito, enseñar a ser profesor/a de baile (ya sea especializado o más genérico), o enseñar danza como una forma de recreación. Generalmente, los/las profesores/as de danza se especializan en una tipología concreta de danzas. Adicionalmente, deben ser capaces de crear coreografías para sus alumnos/as y también, a menudo, es necesario que dispongan de una formación en anatomía y fisiología, ya que deberán preparar a sus alumnos/as en el aspecto físico. Asimismo, es posible que necesiten tener fundamentos de historia de la danza.</p>
                <blockquote class="blockquote">Profesorado de Educación Superior en Danza con Orientación en Danza</blockquote>
                <ul>
                <li>Enseña danza a futuros/as profesionales o baile social, en el sector del ocio y tiempo libre</li>
                <li>Realiza la formación de futuros/as profesores/as de danza</li>
                <li>Planifica el programa de formación a impartir.</li>
                <li>Selecciona la música y las rutinas de ensayo.</li>
                <li>Evalúa y registra el nivel y evolución de los/las alumnos/as.</li>
                <li>Prepara los ejercicios previos a la danza (para calentar los músculos y las articulaciones) y hace pedagogía de la anatomía humana, para prevenir lesiones.</li>
                <li>Asesora (en la selección) en audiciones y cástings.</li>
                <li>Asiste a clases de danza, para mejorar y mantener sus habilidades.</li>
                <li>Practica deportes, dada la importancia del componente físico de su profesión.</li>
                <li>Realiza cursos de formación específicos o talleres.</li>
                <li>Hace colaboraciones en el ámbito de la música (videoclips, conciertos), publicidad (fotografía, televisión, Internet), participación en el diseño de productos digitales o en eventos, corporativos.</li>
                <li>A veces, pueden asumir el papel de coreógrafos/as en actuaciones grupales.</li>
                </ul>              
                <p><strong>No solo es profe de un SOLO estilo!! En el estudio solo hay CALIDAD</strong></p>
                <a href="#!"><img class="img-fluid" src={% static 'blogdanzaalas/assets/img/profesionales.JPG'%} alt="alassalondebaile" /></a>
                <span class="caption text-muted"><strong></strong> </span>
                <p>Agradecemos a este BAILARIN de <strong>CATEGORIA</strong> ser parte de nuestro equipo💖.</p>
            </div>
        </div>
    </div>
</article>
{% endblock %}